# Ignorar ambiente virtual
venv/
env/

# Ignorar código de TCC
PPSUS-main/

# Ignorar chaves de API
.env

logs/

#ignorar codex
.codex

# Versionamos a base vetorial para o deploy no Render.
# Ignore apenas arquivos transitórios do SQLite/Chroma.
agent/chroma_db_local/*.sqlite3-shm
agent/chroma_db_local/*.sqlite3-wal
agent/chroma_db_local/*.sqlite3-journal

# Ignorar caches do Python
__pycache__/
*.pyc
