langchain
langchain-classic
langchain-openai
langchain-community
langchain-cohere
chromadb
langchain-chroma
tiktoken
python-dotenv
pypdf
langchain-anthropic
langchain-groq
langgraph-checkpoint-postgres
psycopg
psycopg-pool