fastapi
langchain
langchain-classic
langchain-openai
langchain-community
langchain-cohere
langgraph
chromadb
langchain-chroma
tiktoken
python-dotenv
pypdf
langchain-anthropic
langchain-groq
langgraph-checkpoint-postgres
psycopg
psycopg-pool
uvicorn[standard]
